.multiStepForm-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.multiStepForm-step {
  width: 100%;
}

.multiStepForm-stepTitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $denim;
  margin-bottom: 10px;
}

.multiStepForm-stepSubtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: $gray;
  margin-bottom: 35px;
}

.multiStepForm-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
}

.multiStepForm-previousStep,
.multiStepForm-NextStep {
  width: max-content;
  display: flex;
}

.multiStepForm-previousStep {
  justify-content: flex-start;
}

.multiStepForm-nextStep {
  justify-content: flex-end;
}
