.c2a {
  border-radius: 8px;
  border: 0;
  color: $white;
  padding: 14px 25px;
  cursor: pointer;

  &.c2a--disabled {
    cursor: not-allowed;
    background:  $gray;
  }
}

.c2a-main {
  background: $denim;

  &:hover:not(.c2a--disabled) {
    background: $denim-light;
  }
}

.c2a-confirm {
  background: $purple;

  &:hover {
      background: $purple-light;
  }
}

.c2a-secondary {
  background: none;
  color: $gray;
  padding: 0;

  &:hover {
    color: $denim;
  }
}
