$base-font: 'Ubuntu', sans-serif;

$mobile-size: 375px;
$desktop-size: 1440px;

// Colors

  // Primary

$denim: #022959;
$lightblue: #ABBCFF;
$orange: #FFAF7E;
$pink: #F9818E;
$purple: #483EFF;
$skyblue: #BEE2FD;

  // Neutral

$gray: #9699AA;
$border-color: #D6D9E6;
$white: #FFFFFF;
